@model ProductModel
@{
    ViewData["Title"] = "EditProduct";
    var counter = 0;
}
@*Script _Layout içinde tanımlandı*@
@section Scripts{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}


<h1>Ürün Düzenle</h1>
<hr />

<form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">

            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Code" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" value="@Model.Code" class="form-control" disabled="disabled" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
                    <img src="~/img/@Model.ImageUrl" width="80" />
                    <input type="file" name="file" value="" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Modell" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Modell" value="@Model.Modell" class="form-control" />
                    <span asp-validation-for="Modell" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Dimensions" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Dimensions" value="@Model.Dimensions" class="form-control" />
                    <span asp-validation-for="Dimensions" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Material" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Material" value="@Model.Material" class="form-control" />
                    <span asp-validation-for="Material" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="WarrantyPeriod" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="WarrantyPeriod" value="@Model.WarrantyPeriod" class="form-control" />
                    <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <textarea id="editor" asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h4>Kategoriler</h4>
             @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                var isChecked = "";
                if (Model.SelectedCategories.Any(i => i.Id == item.Id))
                {
                    isChecked = "checked";

                    <input type="hidden" name="SelectedCategories[@counter].Id" value="@item.Id" />
                    <input type="hidden" name="SelectedCategories[@counter].Name" value="@item.Name" />

                    counter++;

                }
                else
                {
                    isChecked = "";
                }

                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           name="categoryIds"
                           value="@item.Id"
                           class="custom-control-input"
                           id="category@(item.Id)"
                           @isChecked>
                    <label class="custom-control-label" for="category@(item.Id)">@item.Name</label>
                </div>
            }
            <h4>Markalar</h4>

           @Model.SelectedBrands.Id
            @Model.SelectedBrands.Name

            Brands: <select name="BrandId" asp-for="@Model.SelectedBrands.Id" asp-items="@Model.Brands"> </select>
        
        </div>
    </div>

</form>


